@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.hero-small-1-icon {
  position: relative;
  width: 965px;
  height: 579px;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 0;
}
.hero-small-1-icon.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.the-long-dark {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.32px;
  font-weight: 700;
  font-family: inherit;
}
.the-long-dark-game-wrapper {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 0 var(--padding-md);
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  text-align: center;
  font-size: 80px;
}
.the-long-dark-game-wrapper.animate {
  animation: 1s ease 0.1s 1 normal forwards fade-in;
}
.a-game,
.for-future-thinking {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.29px;
  line-height: 34px;
}
.for-future-thinking {
  font-size: var(--font-size-xl);
}
.a-game-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lg) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  opacity: 0;
  text-align: center;
  font-size: 35px;
  font-family: var(--font-share-tech-mono);
}
.a-game-parent.animate {
  animation: 1s ease 0.4s 1 normal forwards fade-in;
}
.cert-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.layer1 {
  position: relative;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}
.layer1-wrapper {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 30px 67px;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.layer1-wrapper.animate {
  animation: 3s ease 0.2s 1 normal forwards fade-in;
}
.aim-of-the {
  margin: 0;
  position: absolute;
  top: 0;
  left: 51px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.alien-1-traced {
  position: absolute;
  height: 91.67%;
  width: 11.34%;
  top: 0;
  right: 88.66%;
  bottom: 8.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aim-of-the-game-parent {
  position: relative;
  width: 291px;
  height: 36px;
  flex-shrink: 0;
}
.have-fun-answering {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  text-align: center;
  opacity: 0;
}
.have-fun-answering.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.frame-aim-of-the-game {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-3xl) var(--padding-2xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  opacity: 0;
}
.frame-aim-of-the-game.animate,
.frame-the-time-period.animate {
  animation: 1.5s ease-out 0s 1 normal forwards slide-in-bottom;
}
.tijmer-1-traced {
  position: absolute;
  height: 100%;
  width: 14.33%;
  top: 0;
  right: 85.67%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.the-time-period {
  margin: 0;
  position: absolute;
  top: 3px;
  left: 62px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.tijmer-1-traced-parent {
  position: relative;
  width: 293px;
  height: 42px;
  flex-shrink: 0;
}
.set-a-duration {
  display: block;
}
.frame-the-time-period {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-3xl) var(--padding-2xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  opacity: 0;
}
.screenshot-2022-06-07-at-1218 {
  position: absolute;
  height: 100%;
  width: 14.8%;
  top: 0;
  right: 85.2%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.place-a-stake {
  margin: 0;
  position: absolute;
  top: 0.5px;
  left: 57px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.screenshot-2022-06-07-at-1218-parent {
  position: relative;
  width: 250px;
  height: 37px;
  flex-shrink: 0;
}
.frame-place-a-stake {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-3xl) var(--padding-2xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  opacity: 0;
}
.frame-place-a-stake.animate {
  animation: 1.5s ease 0s 1 normal forwards slide-in-bottom;
}
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}
.example-question {
  margin: 0;
  position: absolute;
  top: 1px;
  left: 58px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-2-icon,
.vector-parent {
  position: relative;
  width: 320px;
  height: 38px;
  flex-shrink: 0;
}
.image-2-icon {
  width: 559px;
  height: 520px;
  object-fit: cover;
  opacity: 0;
}
.image-2-icon.animate,
.or.animate,
.primary-default.animate,
.qr-code-icon.animate,
.register-your-interest.animate,
.scan-this-qr.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 15.1%;
  top: 0;
  right: 84.9%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.how-to-play {
  margin: 0;
  position: absolute;
  top: 1px;
  left: 57.09px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 188px;
}
.vector-group {
  position: relative;
  width: 245.09px;
  height: 37px;
  flex-shrink: 0;
  text-align: left;
}
.register-your-interest,
.scan-this-qr {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  opacity: 0;
}
.or,
.qr-code-icon {
  position: relative;
  opacity: 0;
}
.qr-code-icon {
  width: 186px;
  height: 241.12px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.or {
  margin: 0;
  align-self: stretch;
}
.register-here {
  cursor: pointer;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: center;
}
.frame-how-to-play,
.primary-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.primary-default {
  cursor: pointer;
  border: 0;
  padding: 19px var(--padding-lg);
  background-color: var(--color-orange);
  border-radius: 32px;
  width: 327px;
  box-sizing: border-box;
  justify-content: center;
}
.frame-how-to-play {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-xl) var(--padding-3xl) var(--padding-2xl);
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
}
.frame-how-to-play.animate {
  animation: 1.5s ease 0s 1 normal forwards slide-in-bottom;
}
.write-a-question {
  margin: 0;
  position: absolute;
  top: 1.35px;
  left: 58.88px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.vector-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 31.99px;
}
.write-a-question-parent {
  position: relative;
  width: 299.88px;
  height: 37.35px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
}
.get-ready-for {
  font-size: var(--font-size-sm);
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-orange);
  opacity: 0;
}
.get-ready-for.animate,
.qa-writing-parent.animate,
.wow-us.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.get-ready-for,
.qa-writing,
.wow-us {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.29px;
}
.wow-us {
  opacity: 0;
}
.qa-writing {
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.short-fire {
  font-family: var(--font-inter);
}
.q-length {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.29px;
  line-height: 30px;
  color: var(--color-gray-100);
}
.frame-submit-a-question,
.qa-writing-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.qa-writing-parent {
  border: 1px dashed var(--white);
  box-sizing: border-box;
  width: 595px;
  padding: var(--padding-xs) 0 var(--padding-sm);
  justify-content: center;
  gap: var(--gap-md);
  color: var(--color-orange);
}
.frame-submit-a-question {
  align-self: stretch;
  padding: var(--padding-xl) var(--padding-3xl) var(--padding-2xl);
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-base);
}
.frame-submit-a-question.animate {
  animation: 1.5s ease 0s 1 normal forwards slide-in-bottom;
}
.what-our-players {
  margin: 0;
  position: absolute;
  top: 9.06px;
  left: 56.5px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.what-our-players-think-parent {
  position: relative;
  width: 389.5px;
  height: 45.06px;
  flex-shrink: 0;
  opacity: 0;
}
.main-review-container.animate,
.what-our-players-think-parent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.get-ready-for-container,
.get-ready-for1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.29px;
}
.get-ready-for1 {
  font-size: 18px;
}
.main-score-child {
  position: relative;
  width: 15px;
  height: 3px;
  flex-shrink: 0;
  overflow: hidden;
}
.main-score {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs) 0 var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-xl);
}
.main-score,
.stars,
.stars1 {
  align-self: stretch;
}
.stars1 {
  margin: 0;
  position: relative;
  letter-spacing: 0.29px;
  line-height: 30px;
}
.stars {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.get-ready-for-container1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.29px;
  line-height: 30px;
}
.review-1,
.st-review-text {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.st-review-text {
  color: var(--color-gray-100);
}
.review-1 {
  padding: var(--padding-2xs);
  gap: var(--gap-sm);
}
.span {
  color: var(--white);
}
.frame-what-our-players-think,
.main-review-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
}
.main-review-container {
  border: 1px dashed var(--white);
  box-sizing: border-box;
  width: 595px;
  padding: var(--padding-xs) 0 var(--padding-sm);
  gap: var(--gap-md);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-orange);
}
.frame-what-our-players-think {
  align-self: stretch;
  padding: var(--padding-xl) var(--padding-3xl) var(--padding-2xl);
  gap: 106px;
}
.footer.animate,
.frame-what-our-players-think.animate {
  animation: 1.5s ease 0s 1 normal forwards slide-in-bottom;
}
.footer-child {
  align-self: stretch;
  position: relative;
  background-color: #1e1e1e;
  height: 3px;
  flex-shrink: 0;
}
.contact-hellomonkeynutstudio,
.follow {
  margin: 0;
  position: relative;
}
.follow {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
}
.vector-icon3,
.vector-icon4 {
  position: absolute;
  top: 35px;
  left: 0;
  width: 31px;
  height: 31px;
}
.vector-icon4 {
  left: 60px;
}
.follow-parent {
  position: relative;
  width: 91px;
  height: 66px;
  flex-shrink: 0;
}
.contact-hellomonkeynutstudio-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) 31px var(--padding-md) 36px;
  align-items: center;
  justify-content: center;
  gap: 147px;
}
.monkey-nuts {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 170px;
  cursor: pointer;
}
.monkey-nuts-2023-wrapper {
  position: relative;
  width: 170px;
  height: 17px;
  flex-shrink: 0;
  text-align: center;
}
.footer,
.web-background {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  padding: 83px var(--padding-3xl) var(--padding-2xl);
  gap: 44px;
  opacity: 0;
  font-size: var(--font-size-2xs);
}
.web-background {
  position: relative;
  background-color: #000;
  width: 100%;
  padding: var(--padding-2xs);
  box-sizing: border-box;
  gap: 24px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 768px) {
  .image-2-icon {
    width: 559px;
  }
}
@media screen and (max-width: 428px) {
  .hero-small-1-icon {
    display: flex;
    width: 500px;
    height: 200px;
  }
  .the-long-dark-game-wrapper {
    font-size: var(--font-size-xl);
  }
  .a-game {
    font-size: 24px;
  }
  .for-future-thinking {
    font-size: 28px;
  }
  .aim-of-the {
    font-size: var(--font-size-base);
    text-align: left;
  }
  .aim-of-the-game-parent {
    width: 240px;
  }
  .have-fun-answering {
    font-size: var(--font-size-2xs);
  }
  .frame-aim-of-the-game {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    gap: var(--gap-lg);
  }
  .the-time-period {
    font-size: var(--font-size-base);
  }
  .tijmer-1-traced-parent {
    width: 250px;
  }
  .frame-the-time-period {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    gap: var(--gap-lg);
  }
  .place-a-stake {
    font-size: var(--font-size-base);
  }
  .screenshot-2022-06-07-at-1218-parent {
    width: 200px;
  }
  .frame-place-a-stake {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    gap: var(--gap-lg);
  }
  .example-question {
    font-size: var(--font-size-base);
  }
  .vector-parent {
    width: 250px;
  }
  .image-2-icon {
    max-width: 100%;
    max-height: 320px;
  }
  .how-to-play {
    font-size: var(--font-size-base);
  }
  .vector-group {
    width: 210px;
  }
  .register-your-interest,
  .scan-this-qr {
    font-size: var(--font-size-xs);
  }
  .scan-this-qr {
    display: none;
  }
  .or,
  .qr-code-icon {
    display: none;
  }
  .or,
  .register-here {
    font-size: var(--font-size-xs);
  }
  .primary-default {
    width: 250px;
    height: 50px;
  }
  .frame-how-to-play {
    height: 180px;
    border-radius: 0;
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    gap: var(--gap-lg);
  }
  .write-a-question {
    font-size: var(--font-size-base);
  }
  .write-a-question-parent {
    width: 250px;
  }
  .get-ready-for,
  .q-length,
  .qa-writing,
  .wow-us {
    font-size: var(--font-size-xs);
  }
  .qa-writing-parent {
    width: 320px;
  }
  .frame-submit-a-question {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    gap: 28px;
  }
  .what-our-players {
    font-size: var(--font-size-sm);
  }
  .what-our-players-think-parent {
    width: 300px;
  }
  .get-ready-for-container {
    font-size: 26px;
  }
  .get-ready-for1 {
    font-size: 12px;
  }
  .get-ready-for-container1,
  .stars1 {
    font-size: var(--font-size-xs);
  }
  .get-ready-for-container1 {
    font-family: var(--font-inter);
  }
  .main-review-container {
    width: 320px;
  }
  .frame-what-our-players-think {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    gap: var(--gap-lg);
  }
  .contact-hellomonkeynutstudio {
    font-family: var(--font-inter);
  }
  .contact-hellomonkeynutstudio,
  .follow {
    font-size: var(--font-size-3xs);
  }
  .contact-hellomonkeynutstudio-parent {
    padding-left: 0;
    padding-right: 0;
    gap: 60px;
  }
  .monkey-nuts {
    font-size: var(--font-size-3xs);
  }
  .footer {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
  }
}
